.card {
    border: 1px solid;
    width: 30vw;
    border-radius: 10px;

}

.cardSelecionado {
    background-color: antiquewhite;
    width: 30vw;
    border-radius: 10px;
    border: 1px solid;
    
  }

